//
// Variables
// --------------------------------------------------
//
$black: #000;
$white: #fff;
// Redefined Gray colors for theme
$gray-darker: #333333;
$gray-dark: #888888;
$gray: #BBBBBB;
$gray-light: #EEEEEE;

// Classic brand colors
$blue: #007bff;
$blue-light: #3395FF;
$blue-shadow: #ACD4FF;
$purple: #9F00C5;
$purple-light: #A020F0;
$purple-lighter: #9370DB;
$purple-shadow: rgba(128,0,128,0.3);
$indigo: #6610f2;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;