@import '../shared/styles/app/variables.scss';

.bg {
    display: flex;
    background-image: url("../../assets/background-images/pharmacy-bg-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.register-form {
    width: 500px;
    margin: 60px auto;

    .nav-tabs {
        width: 100%;
        text-align: center;

        .nav-item {
            width: 33.33%;
            cursor: pointer;
            .nav-link {
                border: 1px solid transparent;
            }
            .nav-link.active {
                font-weight: 500;
            }
        }
    }
}
.register-form form {
    margin-bottom: 15px;
    padding: 30px;
}
.register-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}