@import '../shared/styles/app/variables.scss';

.bg {
    display: flex;
    background-image: url("../../assets/background-images/pharmacy-bg-2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-form {
    width: 340px;
    margin: 60px auto;
}
.login-form form {
    margin-bottom: 15px;
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}