@import '../../shared/styles/app/variables.scss';

.color-pelette-common {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 50px;
    background-color: $white;
    transition: width 300ms;
    &:hover {
        box-shadow: 0px 0px 5px 3px $gray;
        cursor: pointer;
    }
}

.color-pelette {
    @extend .color-pelette-common;
    border: solid 1px $white;
    border-radius: 50%;
    width: 50px;
    i {
        position: relative;
        left: 14px;
        top: 8px;
        font-size: 30px;
    }
}

.color-pelette-expanded {
    @extend .color-pelette-common;
    display: flex;
    border-radius: 30px;
    width: 110px;
    padding: 0px 15px;

    .pelette-item {
        width: 30px;
        height: 30px;
        border: solid 1px;
        border-radius: 50px;
        margin-right: 5px;
        margin-top: 10px;
        margin-left: 5px;

        &.themeA {
            background-color: $blue;
            border-color: $blue;
        }

        &.themeB {
            background-color: $purple;
            border-color: $purple;
        }
    }

    i {
        display: none;
    }
}