<div [ngClass]="{'color-pelette': !expand, 'color-pelette-expanded': expand}" (click)="expand = !expand">
  <div *ngFor="let theme of themesList" class="pelette-item {{theme}}" (click)="setTheme(theme)"></div>
  <!-- <div class="pelette-item first" *ngIf="expand" (click)="setTheme('themeA')"></div>
  <div class="pelette-item second" *ngIf="expand" (click)="setTheme('themeB')"></div> -->
  <i class="fa fa-angle-double-left"></i>
</div>