@import '../app/variables';

/* ========================================================================
   Component: Header
 ========================================================================== */
.app-header {
    background-color: $purple;
    .topbar {
        .search-btn {
            background-color: $white;
        }
        @extend .navbar-light-link;
    }
    .mainbar {
	    @extend .navbar-light-link;
    }
}

/* ========================================================================
   Component: Navbar
 ========================================================================== */

.navbar-light-link {
    .navbar-dark .navbar-nav .nav-link {
        color: $white;
    }
}

/* ========================================================================
   Component: Form-control
 ========================================================================== */

.form-control:focus {
    box-shadow: none;
    border-color: $purple-light;
}

.register-form form,
.login-form form {
    background-color: $white;
    box-shadow: 2px 2px 5px $gray-dark;
}

/* ========================================================================
   Component: Button
 ========================================================================== */
.btn-primary {
    background-color: $purple;
    border-color: $purple;
    color: $white;

    &:hover,
    &:active,
    &:focus {
        background-color: $purple-light;
        border-color: $purple-light;
    }

    &:not(:disabled):not(.disabled):active {
        color: $white;
        background-color: $purple-light;
        border-color: $purple-light;
        box-shadow: 0 0 0 0.2rem $purple-shadow;
    }

    &:not(:disabled):not(.disabled):focus {
        color: $white;
        background-color: $purple-light;
        border-color: $purple-light;
        box-shadow: 0 0 0 0.2rem $purple-shadow;
    }

    &:not(:disabled):not(.disabled):active:focus {
        color: $white;
        background-color: $purple-light;
        border-color: $purple-light;
        box-shadow: 0 0 0 0.2rem $purple-shadow;
    }

    &:disabled {
        color: $white;
        background-color: $gray;
        border-color: $gray;
        box-shadow: none;
    }
 }

 /* ========================================================================
   Component: Button-link
 ========================================================================== */
 
 .btn-link {
     color: $purple;

     &:hover {
        color: $purple-light;
     }
 }

 /* ========================================================================
   Component: Anchor tag
 ========================================================================== */

 a{
    color: $purple;
    &:hover {
        color: $purple-light;
    }
 }

  /* ========================================================================
   Component: Dropdown
 ========================================================================== */

 .dropdown-item {
     &:active {
        background-color: $purple;
        .btn-primary {
            border-color: $white;
        }
     }
 }

   /* ========================================================================
   Component: Nav-tabs
 ========================================================================== */

 .nav-tabs .nav-link.active {
     color: $purple;
     &:hover {
         color: $purple-light;
     }
 }