@import '../header.component.scss';

.mainbar {
	.navbar-nav > li{
		padding-left: 15px;
		padding-right: 15px;
	}
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
}

@media only screen and (max-width: 767px) {
	.main-bar {
		.navbar-nav > li{
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}