<div class="mainbar">
  <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
            Dogs
            <span><i class="fa fa-angle-down ml-1"></i></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Dog Food</a>
            <a class="dropdown-item" href="#">Food Supplement</a>
            <a class="dropdown-item" href="#">Bone & Rawhide Chews</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
            Cats
            <span><i class="fa fa-angle-down ml-1"></i></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Cat Food</a>
            <a class="dropdown-item" href="#">Cat Treats & Chews</a>
            <a class="dropdown-item" href="#">Catnip Products</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
            Shop by Brands
            <span><i class="fa fa-angle-down ml-1"></i></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Azmira</a>
            <a class="dropdown-item" href="#">Benebone</a>
            <a class="dropdown-item" href="#">Earth's Balance</a>
            <a class="dropdown-item" href="#">GoPet</a>
            <a class="dropdown-item" href="#">Iceland Pure Inc</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
            On Sale
            <span><i class="fa fa-angle-down ml-1"></i></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Buy 2 Get 1 Free</a>
            <a class="dropdown-item" href="#">Red Tag Sale</a>
            <a class="dropdown-item" href="#">Coupons & Promotions</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>