@import '../header.component.scss';

.topbar {
	min-height: 70px;
	font-size: 13px;
	.search-by-keyword {
		border-radius: 30px 0px 0px 30px;
		height: 35px;
		font-size: 14px;
	}
	.search-btn {
		border-radius: 0px 30px 30px 0px;
		cursor:pointer;
	}
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
	.user-account-dropdown {
		line-height: 2;
		font-size: 13px;
	}
}