<div class="topbar py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3 py-1">
        <a routerLink="/home" href="#">
          <img class="img-fluid" src="https://sep.yimg.com/ty/cdn/entirelypets/EntirelyPets-logo-flat.svg">
        </a>
      </div>
      <div class="col-md-5">
        <div class="input-group">
          <input class="form-control py-2 px-4 border-0 search-by-keyword" type="search" placeholder="Search by keyword">
          <span class="input-group-append">
            <div class="input-group-text search-btn border-0"><i class="fa fa-search"></i></div>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <nav class="navbar navbar-expand-sm bg-default navbar-dark py-1">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link d-flex py-0" href="#" id="navbardrop" data-toggle="dropdown">
                <i class="fa fa-user-o mr-2 mt-1"></i>
                <span>My Account</span>
                <span><i class="fa fa-angle-down ml-1"></i></span>
              </a>
              <div class="dropdown-menu user-account-dropdown">
                <a *ngIf="!currentUser" class="dropdown-item">
                  <button class="btn btn-primary btn-block mb-1" [routerLink]="['/login']">
                    <i class="fa fa-sign-out fa-fw"></i>
                    Sign In
                  </button>
                  <span class="mr-2">New customer?</span>
                  <a href="#" class="mr-1" [routerLink]="['/register']">Start here</a>
                </a>
                <div *ngIf="!currentUser" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <i class="fa fa-credit-card fa-fw mr-2"></i>
                  My Orders
                </a>
                <a *ngIf="currentUser" class="dropdown-item" href="#">
                  <i class="fa fa-user-o fa-fw mr-2"></i>
                  My Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fa fa-heart-o fa-fw mr-2"></i>
                  My Favorites
                </a>
                <div *ngIf="currentUser" class="dropdown-divider"></div>
                <a *ngIf="currentUser" class="dropdown-item" href="#" (click)="logout()">
                  <span class="mr-2">Not {{currentUser.firstName}}? ({{userType[currentUser.userType]}})</span>
                  Logout
                  <i class="fa fa-sign-out fa-fw mr-2"></i>
                </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link py-0" href="#">
                <i class="fa fa-shopping-cart mr-2 mt-1"></i>
                <span>Cart</span>
                <sup class="badge badge-pill badge-light ml-1">0</sup>
              </a>
            </li>
          </ul>
      </nav>
      </div>
    </div>
  </div>
</div>