/* You can add global styles to this file, and also import other style files */

// import bootstrap style file
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

// Application
@import "./app/shared/styles/app.scss";

body, html {
    height: 100%;
    margin: 0;
}