<div class="container-fluid px-0 py-5">
  <div id="demo" class="offer-slide carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
    </ul>
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="img-fluid" src="https://sep.yimg.com/ty/cdn/entirelypets/dental-month-012919_1140x400.jpg" alt="Los Angeles">
      </div>
      <div class="carousel-item">
        <img class="img-fluid" src="https://lib.store.yahoo.net/lib/yhst-172520439-2/val_1140x400.png" alt="New York">
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>