.offer-slide {
	.carousel-inner img {
		width: 100%;
		height: 100%;
	}
	.carousel-inner .carousel-item:nth-child(2) {
		background: url('https://sep.yimg.com/ty/cdn/yhst-172520439-2/val_2114x400.jpg');
	}
}